@import 'colors';

.not-found {
  height: 700px;
  background-image: url('http://www.pngmart.com/files/3/Gandalf-Transparent-PNG.png');
  background-repeat: no-repeat;
  color: $black;

  div {
    font-size: 50px;
    padding: 200px 0 0 530px;

    h2 {
      font-size: 30px;
    }
  }
}
