@import 'colors';

.not-found {
  height: 720px;
  background-image: image_url('gandalf.png');
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;

  div {
    position: absolute;
    font-size: 50px;
    top: 20vh;
    left: 45vw;

    p {
      font-size: 30px;
    }
  }
}

@media screen and (max-width: 640px) {
  .not-found {
    div {
      left: 5vw;
      font-size: 40px;

      p {
        font-size: 24px;
      }
    }
  }
}
