.not-found {
  height: 750px;
  background-image: url('http://www.pngmart.com/files/3/Gandalf-Transparent-PNG.png');
  background-repeat: no-repeat;

  div {
    font-size: 60px;
    padding: 150px 0 0 530px;

    h2 {
      margin-left: 10px;
      font-size: 30px;
    }
  }
}
