$lightgrey: #DBDBDB;
$red: #FF5A5F;
$darkred: rgb(223, 60, 71);
$black: #484848;
$green: rgb(0, 132, 137);
$darkgreen: #006a70;
$blue: #008489;
$yellow: #995c1f;

.lightgrey {
  color: $lightgrey;
}

.red {
  color: $red;
}

.blue {
  color: $blue;
}
