@import 'colors';

.homepage {
  h2 {
    font-size: 25px;
    margin: 35px 80px 0;
  }

  .map-container {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    
    #map {
      border: 1px solid $lightgrey;
      border-radius: 4px;
      width: 85vw;
      height: 50vh;
    }
  }

  .hide {
    display: none;
  }
}

@media screen and (max-width: 850px) {
  .homepage {
    h2 {
      margin: 35px 30px 0;
    }
  }
}
