// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, header, footer, aside, section, article, nav, div, span,
input, textarea, button, h1, h2, h3, h4, h5, p, a, ul, li, img {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
  outline: none;
  // border: 0.1px solid red;
}
