// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body, header, footer, aside, section, article, nav, div, span,
label, input, textarea, button, h1, h2, h3, h4, h5, p, a, ul, li, img {
  margin: 0;
  padding: 0;
  color: inherit;
  font-family: 'Varela Round', sans-serif;
  font-size: inherit;
  text-decoration: none;
  outline: none;
  // border: 0.1px solid red !important;
}

body {
  position: relative;
  top: 80px;
}
