@import 'colors';

.review-container {
  margin-bottom: 40px;

  .review-search-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
    border-bottom: 1px solid $lightgrey;

    h4 {
      font-size: 24px;

      span {
        font-size: 28px;
      }
    }

    .search-bar {
      width: 185px;
      height: 32px;
      border: 1px solid $lightgrey;
      border-radius: 2px;
      box-shadow: none;

      i {
        padding: 7px;
      }

      input {
        width: 100%;
        border: none;
      }
    }
  }

  .create-review-box {
    padding: 10px 20px 20px;
    border-bottom: 1px solid $lightgrey;

    .create-review-form {
      div {
        padding: 10px;
      }

      .rating {
        padding-bottom: 0;
      }

      label {
        margin-right: 5px;
        color: $blue;
        font-size: 18px;
      }

      span {
        margin-right: 10px;
      }

      .review-body-box {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;

        textarea {
          resize: none;
          border: 1px solid $lightgrey;
          width: 72%;
          height: 80px;
          padding: 10px;
        }

        button {
          height: 40px;
          padding: 0 20px;
          margin: 0 15px;
          color: white;
          background-color: $green;
          border-radius: 4px;

          &:active {
            background-color: $darkgreen;
          }
        }
      }
    }
  }

  .review-index-container {
    margin-top: 10px;

    .review-index {
      list-style: none;

      .review-index-item {
        padding: 10px 0;
        border-bottom: 1px solid $lightgrey;

        div {
          display: flex;
          justify-content: space-between;

          .reviewer {
            font-size: 18px;
            font-weight: bold;
          }

          a {
            color: $blue;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        p {
          font-style: italic;
          margin: 10px 0;
        }
      }
    }
  }
}
