@import 'colors';

.search-bar {
  display: flex;
  color: $black;
  width: 460px;
  min-width: 200px;
  height: 48px;
  box-sizing: border-box;
  border: 1px solid $lightgrey;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  i {
    padding: 15px 20px;
  }

  input {
    width: 84%;
    font-size: 16px;
    line-height: 22px;
    border: none;
  }
}
