@import 'colors';

.spot-form-container {
  color: $black;
  height: 720px;
  background-image: url('http://www.pngmart.com/files/3/Legolas-PNG-File.png');
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;

  .spot-form-box {
    padding: 40px 0 0;
    padding-left: 200px;

    h2 {
      display: inline-block;
      font-size: 30px;
    }

    form {
      font-size: 18px;
      padding: 30px 0;

      label {
        color: grey;
      }

      input, textarea {
        color: $black;
        margin: 8px 0;
        display: block;
        height: 50px;
        width: 45%;
        box-sizing: border-box;
        padding: 20px;
        border: 1px solid $lightgrey;
        border-radius: 2px;

        &:focus {
          border: 1px solid $green;
        }
      }

      textarea {
        height: 100px;
        resize: none;
      }

      div {
        display: flex;
        justify-content: space-between;
        width: 45%;

        input{
          width: 100%;
        }

        label:last-child {
          margin-left: 50px;
        }
      }

      .button-box {
        margin: 30px 0;
        display: flex;
        justify-content: flex-end;

        button {
          border: none;
          padding: 16px 20px;
          background-color: $green;
          color: white;
          border-radius: 4px;
          cursor: pointer;

          &:active {
            background-color: $darkgreen;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 830px) {
  .spot-form-container {
    background: none;
    display: grid;
    justify-content: center;

    .spot-form-box {
      padding-left: 80px;

      form {
        input, textarea {
          width: 85%;
        }

        div {
          width: 85%;
        }
      }
    }
  }
}
