@import 'colors';

.spot-index-container {
  color: $black;

  h2 {
    font-size: 25px;
    margin: 35px 80px 0;
  }

  .spot-index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 10px 72px 50px;

    .spot-index-item {
      list-style: none;
      margin: 8px 8px 12px;
      overflow: hidden;

      li {
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      img {
        min-height: 110px;
        max-height: 210px;
        width: 100%;
        border-radius: 4px;
      }

      .quick-info {
        padding-top: 5px;
        line-height: 1.5;
        font-size: 14px;

        .location {
          color: $yellow;
          font-size: 12px;
          font-weight: bold;
        }

        h4 {
          letter-spacing: 0.5px;
          font-size: 16px;
          display: inline-block;
        }

        .star {
          color: $blue;
        }
      }
    }
  }
}

@media screen and (max-width: 1600px) {
  .spot-index-container {
    .spot-index {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}

@media screen and (max-width: 1400px) {
  .spot-index-container {
    .spot-index {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@media screen and (max-width: 1130px) {
  .spot-index-container {
    h2 {
      margin: 35px 30px 0;
    }

    .spot-index {
      margin: 10px 24px 50px;
    }
  }
}

@media screen and (max-width: 1000px) {
  .spot-index-container {
    .spot-index {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 830px) {
  nav {
    display: none;
  }
}
