@import 'colors';

.spot-index-container {
  color: $black;

  h2 {
    font-size: 25px;
    margin: 35px 80px 0;
  }

  .spot-index {
    display: flex;
    flex-flow: wrap;
    margin: 10px 80px 50px;
    list-style: none;

    .spot-index-item {
      li {
        margin: 8px 8px 12px;
        width: 310px;

        img {
          width: 100%;
          border-radius: 4px;
        }

        .quick-info {
          padding-top: 5px;
          line-height: 1.5;
          font-size: 14px;

          .location {
            color: $yellow;
            font-size: 12px;
            font-weight: bold;
          }

          h4 {
            letter-spacing: 0.5px;
            font-size: 16px;
            display: inline-block;
          }

          .star {
            color: $blue;
          }
        }
      }
    }
  }
}
