@import 'colors';

.spot-map-container {
  display: flex;
  justify-content: center;
  margin: 20px 0 70px;

  #map-container {
    border: 1px solid $lightgrey;
    width: 85vw;
    height: 50vh;
  }
}
