@import 'colors';

.spot-show-banner {
  img {
    width: 100%;
    height: 368px;
  }

  .edit-spot {
    position: absolute;
    top: 50px;
    right: 50px;
    font-size: 30px;
    color: $red;
  }
}

.spot-show-box {
  display: flex;
  flex-wrap: wrap;
  margin: 0 30px;
  padding: 24px;
  height: 900px;

  .spot-show-info {
    flex-grow: 2;
    margin: 0 8px;
    padding-right: 80px;
  }

  .spot-show-review {
    ul {
      display: flex;
      flex-direction: column;
      margin: 30px;
    }
  }

  .spot-show-booking {
    border: 1px solid $lightgrey;
    flex-grow: 1;
    height: 355px;
    box-sizing: border-box;
    padding: 24px;
  }
}
