@import 'colors';

.spot-listing-container {
  color: $black;
  display: flex;
  justify-content: center;
  padding: 35px 80px;

  .spot-map-container {
    padding: 20px;

    .spot-map {
      width: 400px;
      height: 300px;
    }

    .button-box {
      margin: 20px 0 0;
      padding: 20px 0;
      border-top: 1px solid $lightgrey;
      display: flex;
      justify-content: space-between;

      button {
        border: none;
        padding: 12px 24px;
        background-color: $green;
        color: white;
        border-radius: 4px;
        cursor: pointer;

        &:active {
          background-color: $darkgreen;
        }
      }
    }
  }

  .spot-form-box {
    padding: 20px;
    font-size: 18px;

    h2 {
      font-size: 30px;
    }

    form {
      margin: 20px 0 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      label {
        color: grey;
      }

      input, textarea {
        display: block;
        color: $black;
        margin: 5px 0;
        padding: 8px 16px;
        border: 1px solid $lightgrey;
        border-radius: 2px;
        width: 80%;
        box-sizing: border-box;

        &:focus {
          border: 1px solid $green;
        }
      }

      .number-box {
        display: flex;
        justify-content: space-between;
        width: 80%;

        div {
          position: relative;
          width: 45%;

          input {
            width: 100%;
          }
        }
      }

      textarea {
        height: 120px;
        resize: none;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .spot-listing-container {
    display: grid;

    .spot-form-box {
      margin: 0 20px;

      form {
        input, textarea, .number-box {
          width: 100%;
        }
      }
    }

    .spot-map-container {
      display: grid;
      justify-content: center;
    }
  }
}
